:root {
  --light-text-color: #ffffff;
  --dark-bg-color: #333333;
  --space: 15px;
  --link-hover: #19C37D;
}
.sidebar {
  background-color: var(--dark-bg-color);
  width: 200px;
  height: calc(100vh - 56px);
}
.sidebar a {
  color: var(--light-text-color);
}
.sidebar a:hover {
  color: var(--link-hover);
}
.sidebar a.active {
  text-decoration: underline;
}
.sidebar .nav-link span {
  padding-left: var(--space);
}
.sidebar .nav-link svg {
  width: 30px;
}
.navbar-brand img {
  margin-right: var(--space);
}
@media (max-width: 767px) {
  .sidebar {
    width: 50px;
  }
}